$primary-color: #70163C;
$secondary-color: #2E0F15;
$tertiary-color: #120309;
$color1: #307351;
$color2: #95B2B8;


// Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 481px;
$laptop-breakpoint: 796px;