// Colors
$primary-color: #3b5249;
$secondary-color: #519872;
$tertiary-color: #34252f;
$color1: #a4b494;
$color2: #bec5ad;

// Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 481px;
$laptop-breakpoint: 796px;