// Colors
// $primary-color: #3b5249;
// $secondary-color: #519872;
// $tertiary-color: #34252f;
// $color1: #a4b494;
// $color2: #bec5ad;

// $primary-color: #ff0003;
// $secondary-color: #59b7d3;
// $tertiary-color: #c2faff;
// $color1: #477f90;
// $color2: #bec5ad;

$primary-color: #70163C;
$secondary-color: #2E0F15;
$tertiary-color: #120309;
$color1: #307351;
$color2: #95B2B8;


// Breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 481px;
$laptop-breakpoint: 796px;