@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mx;

.about {
    margin: 3rem 1rem;

    &__title {
        font-size: 3rem;
        font-family: 'Abril Fatface', cursive;
    }
}